@layer components {
  .typo-desc {
    @apply text-xs text-neutral-300;
  }

  .heading1 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.22px;
  }

  .heading2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.18px;
  }

  .typo-body1 {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.075px;
  }
  .typo-body2 {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.065px;
  }
}
