@import 'tailwindcss';
@import './utils.css';

@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-app-black:#141517;
  --color-app-gray:#1e2022;
  --color-app-soft-gray:#353638;
  --color-app-primary:#04cd85;
  --color-app-secondary:#dfe2ea;
  --color-app-tertiary:#c9cedc;
}

html {
  @apply bg-black;
}

@layer base {
  body {
    font-family: 'Pretendard', sans-serif;
    overflow: hidden;
  }

  * {
    font-family: inherit;
    user-select: none;
    outline: none;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-sm bg-neutral-700;
    }

    &::-webkit-scrollbar-track {
      @apply rounded-sm bg-neutral-800;
    }
  }
}


