@import 'tailwindcss';
@import './components/buttons.css';
@import './components/typo.css';
@import './utils.css';

@theme {
  --color-app-black:#141517;
  --color-app-gray:#1e2022;
  --color-app-soft-gray:#353638;
  --color-app-primary:#04cd85;
  --color-app-secondary:#dfe2ea;
  --color-app-tertiary:#c9cedc;

  --spacing:1px;
}

@layer base {
  body {
    font-family: 'Pretendard', sans-serif;
    overflow: hidden;
    @apply bg-app-black text-white;
  }

  * {
    font-family: inherit;
    user-select: none;
    outline: none;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-sm bg-neutral-700;
    }

    &::-webkit-scrollbar-track {
      @apply rounded-sm bg-neutral-800;
    }
  }
}
